{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "arrow-parens": "off",
    "no-console": ["error", {
      "allow": ["error", "info"]
    }]
  },
  "ignorePatterns": ["node_modules/"]
}
