{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "extends": [
    "airbnb",
    "prettier/react"
  ],
  "rules": {
    "arrow-parens": "off",
    "func-names": "off",
    "global-require": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "space-before-function-paren": "off",
    "mocha/no-global-tests": "off",
    "mocha/no-hooks-for-single-case": "off",
    "mocha/no-mocha-arrows": "off",
    "react/prop-types": "off",
    "react/jsx-curly-brace-presence": "off"
  }
}
