{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier/react"
  ],
  "plugins": [
    "babel"
  ],
  "rules": {
    "react/prop-types": "off"
  }
}
